
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>
    <div class="container">
        <div class="profile-img" aria-hidden="true"></div>
        <div class="about-text">
            <h1>About Me</h1>
            <p>Hello, I’m MOHAMMED ALEEMUDDIN. I’m a professional with over 2 years of experience in PYTHON DEVELOPER. I specialize in 
                Backend Developer. My journey began in [Brief history or a fun fact], leading me to where I am today.</p>
            <p>I believe in my self as a good Developer., and I pursue these passions. .</p>
            <p>If you're looking for someone to I can provide your projects in time with no delay, let’s connect!</p>
            <a href="mailto:your.email@example.com" class="email-link">Contact Me</a>
        </div>
    </div>
</body>
</html>
