<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>MOHAMMED ALEEMUDDIN</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <!-- Add more navigation links here if needed -->
                </ul>
            </nav>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <h2>About Me</h2>
            <p class="container_paragraph">
                My name is Mohammed Aleemuddin. I am currently pursuing my Bachelor's degree in Manufacturing Engineering at GUJARAT TECHNOLOGICAL UNIVERSITY.

            I have a strong passion for technology and software development, with a particular interest in  web development, data science, artificial intelligence.

            During my academic journey, I have acquired valuable skills in GIT, Flask, REST API, DJANGO PYTHON ML. Additionally, I have actively participated in [Any Relevant Extracurricular Activities or Projects].

            Currently, I am undertaking an internship at SciFore Technologies, where I am gaining hands-on experience in [Describe Your Role or Projects You're Working On].

            In my free time, I enjoy travelling Hicking. I find  to be particularly fulfilling as it [Describe How Your Hobby Enhances Your Skills or Personal Growth].

            I am highly motivated, dedicated, and eager to learn new technologies and methodologies. I am constantly seeking opportunities to expand my knowledge and contribute to meaningful projects in the field of technology.

            Please feel free to explore my portfolio to learn more about my projects and experiences. If you have any questions or would like to connect, you can reach me at aleem1409@gmail.com or connect with me on aleem007 insta and linkdin.

            Thank you for visiting


            </p>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <h2 class="container_header_portfolio">Portfolio</h2>
            I am a passionate web developer with expertise in Flask, dedicated to creating elegant and efficient solutions for clients' needs."
            "My portfolio showcases a diverse range of projects, highlighting my skills in front-end and back-end development using Flask, HTML, CSS, and JavaScript."
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <h2>Contact Me</h2>
            <!-- Add a contact form or contact information here -->
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Mohammed Aleemuddin</p>
        </div>
    </footer>
</body>
</html>
